<%- include('partials/header') %>

<div class="login-page">
  <div class="login-card">
    <img src="/static/img/roles/LG.jpg" alt="Werewolf" class="login-icon">
    <h1 data-i18n="login.title">Bienvenue, Voyageur</h1>
    <p data-i18n="login.subtitle">Connectez-vous avec Discord pour acc&eacute;der aux fonctions admin, g&eacute;rer les r&ocirc;les personnalis&eacute;s et configurer votre serveur.</p>
    
    <div class="login-features">
      <div class="login-feature">
        <div class="login-feature-icon">&#128065;&#65039;</div>
        <span data-i18n="login.feat_spectate">Suivre les parties en temps r&eacute;el</span>
      </div>
      <div class="login-feature">
        <div class="login-feature-icon">&#127918;</div>
        <span data-i18n="login.feat_roles">Cr&eacute;er des r&ocirc;les personnalis&eacute;s pour votre serveur</span>
      </div>
      <div class="login-feature">
        <div class="login-feature-icon">&#128200;&#65039;</div>
        <span data-i18n="login.feat_stats">Consulter les statistiques d&eacute;taill&eacute;es des joueurs</span>
      </div>
    </div>

    <a href="/auth/discord" class="btn btn-discord btn-lg" style="width: 100%;">
      <svg width="20" height="20" viewBox="0 -28.5 256 256" fill="currentColor"><path d="M216.856 16.597A208.502 208.502 0 00164.042 0c-2.275 4.113-4.933 9.645-6.766 14.046-19.692-2.961-39.203-2.961-58.533 0-1.832-4.4-4.55-9.933-6.846-14.046a207.809 207.809 0 00-52.855 16.638C5.618 67.147-3.443 116.4 1.087 164.956c22.169 16.555 43.653 26.612 64.775 33.193a161.094 161.094 0 0013.96-22.765 136.2 136.2 0 01-21.958-10.632c1.839-1.36 3.637-2.78 5.38-4.252 42.371 19.702 88.344 19.702 130.169 0 1.764 1.472 3.562 2.893 5.38 4.252-6.992 4.2-14.4 7.7-21.998 10.652 3.832 7.533 8.408 14.792 13.981 22.745 21.142-6.58 42.646-16.637 64.815-33.213 5.316-56.288-9.08-105.09-38.056-148.36zM85.474 135.095c-12.645 0-23.015-11.805-23.015-26.18s10.149-26.2 23.015-26.2c12.867 0 23.236 11.823 23.015 26.2.02 14.375-10.148 26.18-23.015 26.18zm85.051 0c-12.645 0-23.014-11.805-23.014-26.18s10.148-26.2 23.014-26.2c12.867 0 23.236 11.823 23.015 26.2 0 14.375-10.148 26.18-23.015 26.18z"/></svg>
      <span data-i18n="login.btn_discord">Se connecter avec Discord</span>
    </a>
    <p class="login-note" data-i18n="login.note">L'acc&egrave;s en lecture seule est disponible sans connexion</p>
  </div>
</div>

<%- include('partials/footer') %>
